<!DOCTYPE html>
<html>
   <head>
    <title>Pi Power Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/amelia/bootstrap.min.css" />

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <style type="text/css">
      a.btn {
        width: 30%;
        height: 30px;
        margin: 10px;
      }
    </style>

    <script type="text/javascript">
      $(document).ready(function() {
          $("#switch-1-on").click(function() {
            $.post("switch_socket", { system: "01111", socket: "1", on_off: "1" } );
          });
          $("#switch-1-off").click(function() {
            $.post("switch_socket", { system: "01111", socket: "1", on_off: "0" } );
          });
          $("#switch-2-on").click(function() {
            $.post("switch_socket", { system: "01111", socket: "2", on_off: "1" } );
          });
          $("#switch-2-off").click(function() {
            $.post("switch_socket", { system: "01111", socket: "2", on_off: "0" } );
          });
          $("#switch-3-on").click(function() {
            $.post("switch_socket", { system: "01111", socket: "3", on_off: "1" } );
          });
          $("#switch-3-off").click(function() {
            $.post("switch_socket", { system: "01111", socket: "3", on_off: "0" } );
          });
          $("#switch-4-on").click(function() {
            $.post("switch_socket", { system: "01111", socket: "4", on_off: "1" } );
          });
          $("#switch-4-off").click(function() {
            $.post("switch_socket", { system: "01111", socket: "4", on_off: "0" } );
          });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Pi Control</h1>
        <div class="col-lg-3">
          <a href="#" id="switch-1-on"  class="btn btn-success" >Switch 1 on</a>
          <a href="#" id="switch-1-off" class="btn btn-primary" >Switch 1 off</a>
        </div>
        <div class="col-lg-3">
          <a href="#" id="switch-2-on"  class="btn btn-success" >Switch 2 on</a>
          <a href="#" id="switch-2-off" class="btn btn-primary" >Switch 2 off</a>
        </div>
        <div class="col-lg-3">
          <a href="#" id="switch-3-on"  class="btn btn-success" >Switch 3 on</a>
          <a href="#" id="switch-3-off" class="btn btn-primary" >Switch 3 off</a>
        </div>
        <div class="col-lg-3">
          <a href="#" id="switch-4-on"  class="btn btn-success" >Switch 4 on</a>
          <a href="#" id="switch-4-off" class="btn btn-primary" >Switch 4 off</a>
        </div>
      </div>
    </div>
  <body>
</html>
